<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUTRIAPP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="bg-success-subtle">
    <nav class="navbar navbar-expand-lg bg-white shadow-sm">
  <div class="container-fluid">

    <a class="navbar-brand fw-bold text-success" href="{{ url_for('index') }}">
      NutriApp
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">
            Inicio
          </a>
        </li>

        

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('imc') }}">IMC</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('busqueda') }}">Busqueda</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('tbm') }}">TMB</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('tbm') }}">TMB</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('educacion') }}">Educación</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('gct') }}">GCT</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('pci') }}">PCI</a>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('analizador_recetas') }}">Analizador de recetas</a>
        </li>
      </ul>

      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold text-success" href="{{ url_for('registro') }}">
            Registro
          </a>
        </li>

      </ul>

    </div>
  </div>
</nav>

{% block content %}

{% endblock %}

</body>

</html>