{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card shadow-sm">
                <div class="card-body">

                    <h3 class="text-center mb-2">Búsqueda de Alimentos</h3>

                    
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Nombre del alimento</label>
                            <input type="text" class="form-control" placeholder="Ejemplo: Manzana, Arroz, Leche...">
                        </div>

                        <button class="btn btn-success w-100">Buscar alimento</button>
                    </form>

                    <hr class="mt-4 mb-4">

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
